In [2]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("varian Tinggi  :",df['TINGGI'].count())
print("varian B.Badan :",df['BB'].count())
print("varian  UMUR   :",df['UMUR'].count())
print("varian NILAI   :",df['NILAI'].count())

varian Tinggi  : 499
varian B.Badan : 499
varian  UMUR   : 499
varian NILAI   : 499

In [52]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("Rata-rata Tinggi",df['TINGGI'].mean())
print("Rata-rata Berat Badan",df['BB'].mean())
print("Rata-rata UMUR",df['UMUR'].mean())
print("Rata-rata NILAI",df['NILAI'].mean())

Rata-rata Tinggi 170.45090180360722
Rata-rata Berat Badan 119.54308617234469
Rata-rata UMUR 43.30861723446894
Rata-rata NILAI 74.6753507014028

In [58]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
makan=("Q2 Tinggi",df['TINGGI'].median())
print (makan)

('Q2 Tinggi', 170.0)

In [59]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("modus Tinggi     ",df['TINGGI'].mode())
print("modus B.Badan    ",df['BB'].mode()) 
print("modus UMUR       ",df['UMUR'].mode())
print("modus NILAI      ",df['NILAI'].mode())

modus Tinggi      0    176
dtype: int64
modus B.Badan     0    52
dtype: int64
modus UMUR        0    53
dtype: int64
modus NILAI       0    100
dtype: int64

In [47]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("Standar deviasi Tinggi  :",df['TINGGI'].std())
print("Standar deviasi B.Badan :",df['BB'].std())
print("Standar deviasi UMUR    :",df['UMUR'].std())
print("Standar deviasi NILAI   :",df['NILAI'].std())

Standar deviasi Tinggi  : 16.760391914777067
Standar deviasi B.Badan : 46.720647715828335
Standar deviasi UMUR    : 13.321365583747298
Standar deviasi NILAI   : 14.490781366292062

In [55]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("kemiringan Tinggi  :",df['TINGGI'].skew())
print("kemiringan B.Badan :",df['BB'].skew())
print("kemiringan  UMUR   :",df['UMUR'].skew())
print("kemiringan NILAI   :",df['NILAI'].skew())

kemiringan Tinggi  : -0.016248849780930406
kemiringan B.Badan : 0.007341864521398289
kemiringan  UMUR   : -0.10397194858469867
kemiringan NILAI   : 0.03744260547804399

In [56]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("min Tinggi  :",df['TINGGI'].min())
print("min B.Badan :",df['BB'].min())
print("min  UMUR   :",df['UMUR'].min())
print("min NILAI   :",df['NILAI'].min())

min Tinggi  : 140
min B.Badan : 40
min  UMUR   : 20
min NILAI   : 50

In [57]:
import pandas as dt
df=dt.read_csv("contoh.csv")
df['TINGGI'].describe()
df['BB'].describe()
df['UMUR'].describe()
df['NILAI'].describe()
print("max Tinggi  :",df['TINGGI'].max())
print("max B.Badan :",df['BB'].max())
print("max  UMUR   :",df['UMUR'].max())
print("max NILAI   :",df['NILAI'].max())

max Tinggi  : 200
max B.Badan : 200
max  UMUR   : 65
max NILAI   : 100

In [50]:
import numpy as ip
import matplotlib.pyplot as mat
from scipy import stats
import pandas as data

data.read_csv("contoh.csv")

     TINGGI   BB  UMUR  NILAI
0       197  156    22     95
1       143  109    43    100
2       167  111    43     53
3       146   73    25     98
4       189  166    21     54
..      ...  ...   ...    ...
494     166   56    33     75
495     172   67    53     99
496     194   86    63     92
497     194   51    47     71
498     162  126    20     67

[499 rows x 4 columns]

In [51]:
import numpy as ip
import seaborn as sea
import matplotlib.pyplot as mat
from scipy import stats
import pandas as data

cek = data.read_csv("contoh.csv")
mode = stats.mode(cek)
print(mode)

ModeResult(mode=array([[176,  52,  53, 100]], dtype=int64), count=array([[15, 10, 20, 17]]))

In [1]:
import numpy as ip
import seaborn as sea
import matplotlib.pyplot as mat
from scipy import stats
import pandas as dt

for i in range(3):
    hasil=dt.read_csv("contoh.csv",usecols=[i])
    sea.distplot(hasil);

C:\Users\ASUS\Anaconda3\lib\site-packages\matplotlib\axes\_axes.py:6462: UserWarning: The 'normed' kwarg is deprecated, and has been replaced by the 'density' kwarg.
  warnings.warn("The 'normed' kwarg is deprecated, and has been "
C:\Users\ASUS\Anaconda3\lib\site-packages\matplotlib\axes\_axes.py:6462: UserWarning: The 'normed' kwarg is deprecated, and has been replaced by the 'density' kwarg.
  warnings.warn("The 'normed' kwarg is deprecated, and has been "
C:\Users\ASUS\Anaconda3\lib\site-packages\matplotlib\axes\_axes.py:6462: UserWarning: The 'normed' kwarg is deprecated, and has been replaced by the 'density' kwarg.
  warnings.warn("The 'normed' kwarg is deprecated, and has been "